name: CalendarLast5Year

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: dist/calendar-last-5year.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_calendar: yes
          plugin_calendar_limit: 5
